name: Build, Test and Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Backend Dependencies
      working-directory: app
      run: |
        pip install -r requirements.txt

    - name: Run Backend Tests
      working-directory: app
      env:
        PYTHONPATH: .
      run: |
        pytest -v

    - name: Docker Hub Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Backend Image
      uses: docker/build-push-action@v5
      with:
        context: ./app
        push: true
        tags: bayramyavuz/flight-api:latest

  frontend:
    runs-on: ubuntu-latest
    needs: backend

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Docker Hub Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Frontend Image
      uses: docker/build-push-action@v5
      with:
        context: ./frontend
        push: true
        tags: bayramyavuz/flight-frontend:latest
